#help .container {
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #BDBDBD; }

  #help .help-chord-chart-key-note {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%; }
  #help .help-chord-chart-key-open-note {
    border: 2px solid #333;
    height: 18px;
    width: 18px;
    border-radius: 100%; }
  #help .help-chord-chart-key-avoid {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #help .help-chord-chart-key-avoid i {
      font-size: 28px;
      margin-left: -11px;
      width: 30px;
      padding: 1px;
      height: 30px; }
  #help .help-chord-chart-key-fret {
    font-size: 15px;
    color: #616161;
    font-weight: 400;
    font-weight: 500; }