#header {
	background-color: #212121;
	z-index: 4;
	position: relative;
	box-shadow:
    0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
	height: 8vh; }

	#header .header-inner {
    display: flex;
    justify-content: space-between;
		height: 100%; }

	#header .header-section {
    display: flex;
		align-items: center; }

	#header .header-left {
    width: 20%;
		display: flex; }
		#header .header-left .hamburger-container {
			padding: 0 20px;
			width: 80px; }
			#header .header-left .hamburger-container .hamburger {
				padding: 0;
				padding-top: 5px;
				outline: none; }
				#header .header-left .hamburger .hamburger-box .hamburger-inner,
				#header .header-left .hamburger .hamburger-box .hamburger-inner:before,
				#header .header-left .hamburger .hamburger-box .hamburger-inner:after {
					background-color: #fff; }
		#header .header-left #header-title {
			padding-right: 20px;
			color: #fff;
			font-size: 23px; }

	#header .header-middle {}
		#header .header-middle a {
			transition: .5s all;
			padding: 0 20px 5px 20px;
			color: #fff;
			height: 100%;
			display: flex;
			align-items: center; }
			#header .header-middle a:hover,
			#header .header-middle a:focus,
			#header .header-middle a:active,
			#header .header-middle a:visited {
				outline: none;
				color: #fff;
				text-decoration: none; }
			#header .header-middle a:hover {
				background-color: #424242; }
			#header .header-middle a:active h1 {
				color: #FF5722; }
			#header .header-middle a img {
				width: 40px;
				height: 40px;
				margin-top: 5px;
				margin-right: 10px; }

			#header .header-middle a h1 {
				-webkit-user-select: none;
				margin: 0;
				color: #fff;
				transition: .4s text-shadow;
				font-size: 32px;
				font-family: 'Lobster', cursive;
				text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); }
				#header .header-middle a h1 b {
					transition: .4s text-shadow;
					text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
					font-family: 'Lobster', cursive;
					color: #F44336; }
				#header .header-middle a:hover h1,
				#header .header-middle a:hover h1 b {
					text-shadow: 6px 6px 0px rgba(0, 0, 0, 1); }
				

  #header .header-right {
    display: flex;
    justify-content: flex-end;
    width: 20%; }	
    #header .header-right .header-search {
			cursor: pointer;
			height: 100%;
			transition: .2s all;
      display: flex;
			align-items: center; }
      #header .header-right .header-search:hover {
        background-color: #424242; }
      #header .header-right .header-search .header-search-active {
        background-color: #F44336 !important; }
			#header .header-right .header-search .header-icon {
				padding: 0 10px; }
      #header .header-right .header-search a {
        height: 100%;
        transition: .2s all;
        padding: 0;
        display: flex; }
        #header .header-right .header-search a:hover,
        #header .header-right .header-search a:focus {
          text-decoration: none; }

      #header .header-right .header-account {
        cursor: pointer;
        display: flex;
        height: 100%; }
				#header .header-right .header-account .header-account-active {
					background-color: #F44336 !important; }
				#header .header-right .header-account a {
					display: flex;
					height: 100%;
					transition: .2s all; }
					#header .header-right .header-account a:hover {
						text-decoration: none;
						background-color: #424242; }
					#header .header-right .header-account a:focus {
						outline: none;
						text-decoration: none; }
					#header .header-icon {
						display: flex;
						align-items: center;
						padding: 0 10px 0 10px; }
						#header .header-icon i {
							font-size: 27px;
							-webkit-user-select: none;
							color: #fff;  }

@media (min-height: 1080px) {
  #header {
    height: 6vh; }
}

@media (min-width: 500px) {
	#header .header-middle a h1 {
		font-size: 35px; }
	#header .header-icon i {
		font-size: 32px; }
}

@media (min-width: 800px) {
	#header .header-left .hamburger-container {
    width: 90px;
		padding: 0 25px; }
	#header .header-left .header-text {
		display: block; }
	#header .header-middle a h1 {
		font-size: 40px; }
	#header .header-right .header-search a {
		padding: 0 20px; }
    #header .header-right .header-search .header-icon {
      padding: 0; }
  
  #header .header-icon {
    padding: 0 20px 0 20px; }
} 