#header {
	background-color: #212121;
	z-index: 4;
	position:relative;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	height: 8vh; }

	#header .header-inner {
    display: flex;
    justify-content: space-between;
		height: 100%; }

	#header .header-section {
    display: flex;
		align-items: center; }

	#header .header-left {
    width: 20%;
		display: flex; }
		#header .header-left .hamburger-container {
			padding: 0 20px;
			width: 80px; }
			#header .header-left .hamburger-container .hamburger {
				padding: 0;
				padding-top: 5px;
				outline: none; }
				#header .header-left .hamburger .hamburger-box .hamburger-inner,
				#header .header-left .hamburger .hamburger-box .hamburger-inner:before,
				#header .header-left .hamburger .hamburger-box .hamburger-inner:after {
					background-color: #fff; }
		#header .header-left .header-text {
			padding-right: 20px;
			color: #fff;
			font-size: 26px;
			display: none; }

	#header .header-middle {
		padding: 0 10px;
		justify-content: center; }
		#header .header-middle a {
			color: #fff;
			display: block; }
			#header .header-middle a:hover,
			#header .header-middle a:focus,
			#header .header-middle a:active {
				outline: none;
				color: #fff;
				text-decoration: none; }
		#header .header-middle h1 {
			-webkit-user-select: none;
			margin: 0;
			font-size: 23px;
			text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
			color: #fff; }
			#header .header-middle h1 b {
				font-size: 30px;
				font-weight: 700;
				color: #F44336; }

  #header .header-right {
    display: flex;
    justify-content: flex-end;
    width: 20%; }	
    #header .header-right .header-search {
			cursor: pointer;
			transition: .2s all;
			padding: 0;
			height: 100%;
			align-items: center;
			display: flex; }
			#header .header-right .header-search:hover {
				background-color: #424242; }
        #header .header-right .header-search .header-search-text {
          -webkit-user-select: none;
          padding-right: 5px;
          color: #fff;
          font-size: 23px;
          display: none; }

      #header .header-right .header-account {
        cursor: pointer;
        display: flex;
        height: 100%; }
				#header .header-right .header-account .header-account-active {
					background-color: #F44336 !important; }
				#header .header-right .header-account a {
					display: flex;
					height: 100%;
					transition: .2s all; }
					#header .header-right .header-account a:hover {
						text-decoration: none;
						background-color: #424242; }
					#header .header-right .header-account a:focus {
						outline: none;
						text-decoration: none; }
					#header .header-icon {
						display: flex;
						align-items: center;
						padding: 0 10px 0 10px; }
						#header .header-icon i {
							font-size: 27px;
							-webkit-user-select: none;
							color: #fff;  }

@media (min-height: 1080px) {
  #header {
    height: 6vh; }
}

@media (min-width: 500px) {
	#header .header-middle h1 {
		font-size: 28px;}
		#header .header-middle h1 b {
			font-size: 38px; }
	
	#header .header-icon i {
		font-size: 32px; }
}

@media (min-width: 800px) {
	#header .header-left .hamburger-container {
    width: 90px;
		padding: 0 25px; }
	#header .header-left .header-text {
		display: block; }
	#header .header-middle h1 {
		font-size: 35px; }
	#header .header-middle h1 b {
		font-size: 45px; }
	#header .header-right .header-search {
		padding: 0 20px; }
    #header .header-right .header-search .header-icon {
      padding: 0 10px 0 0; }
		#header .header-right .header-search .header-search-text {
			display: block; }
  
  #header .header-icon {
    padding: 0 20px 0 20px; }
} 