#account-page {}

	#account-page .account-page-header {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
		background-color: #fff; }

#account-page .account-page-header .account-page-account {
	padding: 20px;
	display: flex;
	justify-content: space-between; }
	#account-page .account-page-header .account-page-account .account-page-info {
		align-items: center;
		display: flex; }
		#account-page .account-page-header .account-page-account .account-page-info i {
			display: block;
			margin-right: 10px;
			font-size: 63px;
			display: flex;
      color: #333;
			flex-direction: column; }
			#account-page .account-page-header .account-page-account .account-page-info .account-page-content {
				display: flex;
				flex-direction: column;
				justify-content: center; }
				#account-page .account-page-header .account-page-account .account-page-info .account-page-content h3 {
          color: #333;
					margin: 0;
					font-size: 26px; }
				#account-page .account-page-header .account-page-account .account-page-info .account-page-content h4 {
					margin: 0;
					font-weight: 400;
					font-size: 16px; }
	#account-page .account-page-header .account-page-account .account-page-percent {
		padding: 10px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center; }
		#account-page .account-page-header .account-page-account .account-page-percent p {
      color: #333;
			margin: 0;
			line-height: 1;
			font-size: 29px;
			font-weight: 700; }
		#account-page .account-page-header .account-page-account .account-page-percent h3 {
      color: #333;
			margin: 0;
			text-transform: uppercase;
			font-size: 9px;
			font-weight: 700; }

	#account-page .account-page-header .account-page-progress {
		padding: 0 20px 20px 20px; }

  #account-page .account-page-section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    background-color: #fff; }
	#account-page .account-page-section .account-page-content {
		margin-bottom: 20px; }

#account-page .account-page-section .account-page-content .account-page-overview {
  padding: 0;
  margin: 0; }
  #account-page .account-page-section .account-page-content .account-page-overview .account-page-overview-info {
		display: flex;
    width: 100%;
		align-items: center; }
		#account-page .account-page-section .account-page-content .account-page-overview .account-page-overview-info h5 {
    	font-size: 16px;
			font-weight: 500;
			margin: 0 0 5px 0; }
    #account-page .account-page-section .account-page-content .account-page-overview .account-page-overview-info h5 b {
    	font-size: 16px;
			font-weight: 500;
      color: #919496; }

@media (min-width: 500px) {
	#account-page .account-page-section {
		margin-bottom: 40px;}
	#account-page .account-page-sign-out {
		margin-bottom: 40px; }
	#account-page .account-page-header .account-page-account .account-page-info .account-page-content h3 {
		font-size: 27px; }
	#account-page .account-page-header .account-page-account .account-page-info .account-page-content h4 {
		font-size: 20px; }
	#account-page .account-page-header .account-page-account .account-page-percent p {
		font-size: 32px; }
	#account-page .account-page-header .account-page-account .account-page-percent h3 {
		font-size: 10px; }
}

@media (min-width: 700px) {
  #account-page .account-page-header .account-page-account {
	 padding: 40px; }
    #account-page .account-page-header .account-page-account .account-page-info i {
			margin-right: 20px;
      font-size: 73px; }
    #account-page .account-page-header .account-page-account .account-page-info .account-page-content h3 {
      font-size: 30px; }
		#account-page .account-page-header .account-page-account .account-page-info .account-page-content h4 {
      font-size: 22px; }
    #account-page .account-page-header .account-page-account .account-page-percent p {
      font-size: 40px; }
    #account-page .account-page-header .account-page-account .account-page-percent h3 {
      font-size: 11px; }
  #account-page .account-page-section {
    padding: 40px; }
    #account-page .account-page-section .account-page-content .account-page-overview .account-page-overview-info h5 {
      font-size: 19px; }
    #account-page .account-page-section .account-page-content .account-page-overview .account-page-overview-info h5 b {
      font-size: 19px; }
}

@media (min-width: 768px) {
  #account-page .account-page-header {
		margin-top: 0;
		margin-bottom: 40px; }
  #account-page .account-page-section {
    border-radius: 5px; }
}