.ad {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	margin: 30px 0;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	padding: 0;
	background-color: #F5F5F5; }
	.ad .ad-info {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 13px;
		margin: 0;
		padding: 10px;
		color: #757575; }
	.ad img {
		cursor: pointer; 
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		width: 490px;
		height: 140px; }
	.ad i {
		position: absolute;
		top: 0;
		cursor: pointer; 
		right: 0;
		padding: 5px;
		margin: 5px;
		color: #757575;
		font-size: 23px; }