#chord-chooser {
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0; }

  #chord-chooser h4 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0 10px 0;
    font-weight: 400;
    font-size: 21px; }
	#chord-chooser h5 {
    font-size: 16px;
		-webkit-user-select: none;
    text-align: center;
    font-weight: 500; }

  #chord-chooser .chord-chooser-buttons {
    width: 100%;
		padding: 0;
    margin-bottom: 20px;
    flex-wrap: wrap;
    display: flex; }
    #chord-chooser .chord-chooser-buttons .chord-chooser-button {
      cursor: pointer;
      margin: 7px !important;
      text-align: center;
      border-radius: 2px;
      width: calc(100% / 2 - 14px); }

  #chord-chooser .chord-chooser-chart {
    display: flex;
    justify-content: center;
    align-items: center; }
    #chord-chooser .chord-chooser-chart .chord-chooser-variation {
      cursor: pointer;
      font-size: 30px;
      margin: 0 20px;
      padding: 30px 10px; }
      #chord-chooser .chord-chooser-chart .chord-chooser-variation:hover {
        background-color: #e0e0e0; }
      #chord-chooser .chord-chooser-chart .chord-chooser-variation-max {
        cursor: default;
        color: #fff; }
        #chord-chooser .chord-chooser-chart .chord-chooser-variation-max:hover {
          background-color: #fff; }

@media (min-width: 500px) {
	#chord-chooser .chord-chooser-buttons .chord-chooser-button {
		width: calc(100% / 3 - 14px); }
}

@media (min-width: 605px) {
	#chord-chooser h4 {
    margin: 30px 0 0px 0;
    width: calc(80% - 28px); }
	#chord-chooser .chord-chooser-buttons {
    padding: 7px;
    width: 80%;	}
		#chord-chooser .chord-chooser-buttons .chord-chooser-button {
			width: calc(100% / 4 - 14px); }
}

@media (min-width: 992px) {
	#chord-chooser {
  	padding: 30px;
		margin-top: 20px; }
	#chord-chooser h4 {
    width: calc(50% - 28px); }
	#chord-chooser .chord-chooser-buttons {
    width: 50%;	}
}