.guitar-tab {
	transition: .2s all;
	padding: 20px; }
	.guitar-tab .guitar-tabs {
		display: flex;
		width: 330px;
		flex-direction: column;
		justify-content: flex-start; }

		.guitar-tab h1 {
			width: 330px;
			margin: 0 0 10px 0;
			font-size: 16px; }

		.guitar-tab .guitar-tab-section {
			width: 330px;
			height: 120px;
			margin-bottom: 30px;
			position: relative; }
			.guitar-tab .guitar-tab-section:last-child {
				margin-bottom: 0; }
			.guitar-tab .guitar-tab-section .guitar-tab-horz {
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: #333; }
			.guitar-tab .guitar-tab-section .guitar-tab-note {
				position: absolute;
				height: 20px;
				width: 20px;
				display: flex;
				align-items: center;
				justify-content: center; }
				.guitar-tab .guitar-tab-section .guitar-tab-note p {
					transition: .2s all;
					width: 17px;
					height: 17px;
					margin: 0;
					text-align: center;
					background-color: #fff;
					font-size: 13px; }

@media (min-width: 768px) {
	.guitar-tab .guitar-tabs {
		width: 660px;
		flex-direction: row; }
	.guitar-tab h1 {
		width: 660px;	}
	.guitar-tab .guitar-tab-section {
		margin-bottom: 0; }
}
