.guitar-tab {
	transition: .2s all;
	padding: 20px 20px 0 20px; }
	.guitar-tab .guitar-tabs {
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start; }

		.guitar-tab .guitar-tab-header {}
			.guitar-tab .guitar-tab-header h1 {
				margin: 0;
				font-size: 18px; }
.guitar-tab .guitar-tab-header .guitar-tab-header-toggle {
	margin-top: 10px;
}

		.guitar-tab .guitar-tab-section {
			height: 120px;
			width: 330px;
			margin-bottom: 20px;
			position: relative; }
			.guitar-tab .guitar-tab-section .guitar-tab-horz {
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: #333; }
			.guitar-tab .guitar-tab-section .guitar-tab-note {
				position: absolute;
				height: 20px;
				width: 20px;
				display: flex;
				align-items: center;
				justify-content: center; }
				.guitar-tab .guitar-tab-section .guitar-tab-note .guitar-tab-note-fret,
				.guitar-tab .guitar-tab-section .guitar-tab-note .guitar-tab-note-note {
					width: 17px;
					height: 17px;
					margin: 0;
					text-align: center;
					background-color: #fff;
					font-size: 13px; }