.heading {
  border-bottom: 3px solid #BDBDBD;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 10px 0; }
  .heading h1 {
    margin: 0;
		cursor: text;
    font-size: 19px; }
  .heading i {
		cursor: pointer;
		margin: 0 5px 0 0;
		padding: 3px;
    font-size: 25px;
		border-radius: 100%; }
		.heading i:hover {
			background-color: #E0E0E0; }

@media (min-width: 500px) {
  .heading h1 {
    font-size: 21px;	}
}

@media (min-width: 700px) {
	.heading {
  	margin: 0 0 15px 0;	}
	.heading i {
    font-size: 32px; }
}

@media (min-width: 768px) {
	.heading h1 {
    font-size: 25px;	}
}