.scale-chooser {
	padding: 0; }

	.scale-chooser .scale-chooser-menus {
		padding: 0 20px 10px 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start; }
	.scale-chooser .scale-chooser-menus .scale-chooser-menu {
		margin-right: 20px; }

	.scale-chooser .scale-variations {
		display: flex;
		align-items: center; 
		padding-left: 10px; }
		.scale-chooser .scale-variations i {
			font-size: 28px; }

@media (min-width: 800px) {
	.scale-chooser .scale-chooser-menus {
		flex-direction: row; }
}