.scale-chooser {
	padding: 0; }

	.scale-chooser .scale-chooser-menus {
		padding: 0 20px 10px 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start; }
	.scale-chooser .scale-chooser-menus .scale-chooser-menu {
		margin-right: 20px; }

	.scale-chooser .scale-variations {
		padding-top: 10px;
		padding-left: 20px; }
		.scale-chooser .scale-variations p {
			margin: 0 0 5px 0; }
		.scale-chooser .scale-variations .scale-variations-buttons {
			display: flex;
			align-items: center; }
			.scale-chooser .scale-variations .scale-variations-buttons i {
				font-size: 28px; }

@media (min-width: 800px) {
	.scale-chooser .scale-chooser-menus {
		flex-direction: row; }
}