.title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .title .title-inner {
    width: 50%;
    border-bottom: 3px solid #bdbdbd;
    font-size: 42px;
    font-weight: 300;
    margin: 0;
    color: #333;
    text-align: center; }

@media (min-width: 768px) {
  .title {
    margin-bottom: 60px; }
}