#testing .container {
	padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow:
    0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);}

	#testing .testing-test {
		padding: 10px 0; }

		#testing .testing-test h1 {
			padding-bottom: 5px;
			display: inline-block;
			width: auto;
			border-bottom: 1px solid #BDBDBD;
			margin: 0 0 15px 0;
			font-size: 16px; }
		

	#testing .testing-test .testing-results {
		margin-top: 20px;
		box-shadow:
			rgba(0, 0, 0, 0.12) 0px 1px 6px,
			rgba(0, 0, 0, 0.12) 0px 1px 4px; }
		#testing .testing-test .testing-results h2 {
			background-color: #EEEEEE;
			margin: 0;
			padding: 10px;
			font-size: 14px;
			font-weight: 700; }
		#testing .testing-test .testing-results p {
			margin: 0; }

    #testing .testing-test .testing-results .testing-results-log {
      padding: 0 0; }

@media (min-width: 768px) {
  #testing .container {
    margin-top: 40px;
    padding: 40px; }
    #testing .testing-test {
      padding: 20px 20px; }
      #testing .testing-test h1 {
        font-size: 18px; } 
      #testing .testing-test .testing-results .testing-results-log {
        padding: 0 10px; }
}