#home {}
	#home .home-cards {
		display: flex;
		padding: 0px; 
		height: 92vh; }
		#home .home-cards .home-section {
			margin: 0px;
			width: calc(100% / 3); }
			#home .home-cards .home-section .home-section-inner {
				cursor: pointer;
				padding: 0px;
				height: 100%;
				display: flex;
				position: relative;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-color: #000000; }
				#home .home-cards .home-section .home-section-inner:hover {
					justify-content: flex-start; }

      #home .home-cards .home-section .home-section-inner .home-section-icon {
        text-decoration: none;
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        margin: 10px;
        border-radius: 100%;
        padding: 10px;
        transition: .2s all;
        z-index: 2; }
        #home .home-cards .home-section .home-section-inner:hover .home-section-icon {
          display: flex; }
        #home .home-cards .home-section .home-section-inner .home-section-icon:hover {
          background-color: #424242; }
          #home .home-cards .home-section .home-section-inner .home-section-icon:hover {
            color: #fff;
            text-decoration: none; }
          #home .home-cards .home-section .home-section-inner .home-section-icon:focus {
            color: #fff;
            outline: none;
            text-decoration: none; }
        #home .home-cards .home-section .home-section-inner .home-section-icon i {
          font-size: 30px;
          color: #E0E0E0; }
          #home .home-cards .home-section .home-section-inner .home-section-icon:hover i {
            color: #fff; }

        #home .home-cards .home-section .home-section-inner .home-section-open {
          top: 0;
          left: 0; }

        #home .home-cards .home-section .home-section-inner .home-section-check {
          top: 0;
          right: 0; }

				#home .home-cards .home-section .home-section-inner .home-section-image {
					transition: .2s opacity;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center; }
					#home .home-cards .home-section .home-section-inner:hover .home-section-image {
						opacity: 0.3; }

				#home .home-cards .home-section .home-section-inner h1 {
					font-size: 20px;
					color: #fff;
					font-weight: 700;
					margin: 0;
					text-transform: uppercase;
					z-index: 2; }
					#home .home-cards .home-section .home-section-inner h1 a {
						display: block;
						margin: 0;
						color: #fff; }
            #home .home-cards .home-section .home-section-inner:hover h1 a {
							margin: 0 0 40px 0;
              text-decoration: none; }
            #home .home-cards .home-section .home-section-inner h1 a:hover {
							color: #F44336;
              text-decoration: underline; }
				#home .home-cards .home-section .home-section-inner h2 {
					font-size: 16px;
					color: #fff;
					font-weight: 400;
					margin: 0;
					text-decoration: underline;
          cursor: text;
					z-index: 2; }
					#home .home-cards .home-section .home-section-inner:hover h2 {
						margin-top: 20px;
						text-decoration: none; }

				#home .home-cards .home-section .home-section-inner .home-section-line {
					display: none;
					z-index: 2;
					background-color: #fff;
					width: 100%;
					margin-bottom: 40px;
					height: 5px; }
					#home .home-cards .home-section .home-section-inner:hover .home-section-line {
						display: block; }

				#home .home-cards .home-section .home-section-inner .home-section-content {
					z-index: 2;
					width: 100%;
					padding: 10px;
					display: none;
					align-content: flex-start; }
					#home .home-cards .home-section .home-section-inner:hover .home-section-content {
						display: flex; }
						#home .home-cards .home-section .home-section-inner .home-section-content ul {
							width: 100%;
							padding: 0 0 0 20px;
							margin: 0; }
							#home .home-cards .home-section .home-section-inner .home-section-content ul li {
                color: #fff;
                font-size: 20px;
                padding: 0; }
                #home .home-cards .home-section .home-section-inner .home-section-content ul li a {
                  color: #fff;
                  font-size: inherit; }
                  #home .home-cards .home-section .home-section-inner .home-section-content ul li a:hover {
                    color: #F44336; }

@media (min-height: 1080px) {
  #home .home-cards {
    height: 94vh; }
}

@media (min-width: 400px) {
	#home .home-cards .home-section .home-section-inner {
		padding: 20px; }
		#home .home-cards .home-section .home-section-inner h1 {
			font-size: 30px; }
		#home .home-cards .home-section .home-section-inner h2 {
			font-size: 16px; }
}

@media (min-width: 600px) {
	#home .home-cards {
		padding: 5px; }
		#home .home-cards .home-section {
			margin: 5px; }
			#home .home-cards .home-section .home-section-inner {
				padding: 20px; }
				#home .home-cards .home-section .home-section-inner h1 {
					font-size: 40px; }
				#home .home-cards .home-section .home-section-inner h2 {
					font-size: 18px; }
}

@media (min-width: 700px) {
	#home .home-cards .home-section .home-section-inner {
		padding: 30px; }
		#home .home-cards .home-section .home-section-inner h1 {
			font-size: 50px; }
		#home .home-cards .home-section .home-section-inner h2 {
			font-size: 20px; }
}

@media (min-width: 850px) {
	#home .home-cards {
		padding: 10px; }
		#home .home-cards .home-section {
			margin: 10px; }
			#home .home-cards .home-section .home-section-inner {
				padding: 40px; }
				#home .home-cards .home-section .home-section-inner h1 {
					font-size: 60px; }
				#home .home-cards .home-section .home-section-inner h2 {
					font-size: 25px; }
}

@media (min-width: 1150px) {
	#home .home-cards .home-section .home-section-inner h1 {
		font-size: 70px; }
	#home .home-cards .home-section .home-section-inner h2 {
		font-size: 30px; }
}