#home {
	width: 100%;
	height: 100%;}

	#home .home-top {
		height: 16vh;
		padding: 20px 20px 0 20px; }

	#home .home-cards {
		display: flex;
		padding: 10px; 
		height: 76vh; }
		#home .home-cards .home-section {
			padding: 10px;
			width: calc(100% / 3); }
			#home .home-cards .home-section .home-section-inner {
				cursor: pointer;
				padding: 40px;
				border-radius: 10px;
				height: 100%;
				display: flex;
				position: relative;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-color: #000000; }
				#home .home-cards .home-section .home-section-inner:hover {
					justify-content: flex-start; }

				#home .home-cards .home-section .home-section-inner .home-section-image {
					transition: .2s opacity;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border-radius: 10px;
					z-index: 1;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center; }
					#home .home-cards .home-section .home-section-inner:hover .home-section-image {
						opacity: 0.3; }

				#home .home-cards .home-section .home-section-inner h1 {
					font-size: 50px;
					color: #fff;
					font-weight: 700;
					margin: 0 0 20px 0;
					text-transform: uppercase;
					z-index: 2; }
				#home .home-cards .home-section .home-section-inner h2 {
					font-size: 20px;
					color: #fff;
					font-weight: 500;
					margin: 0;
					text-decoration: underline;
					margin-top: 10px;
					z-index: 2; }

				#home .home-cards .home-section .home-section-inner .home-section-line {
					display: none;
					z-index: 2;
					background-color: #fff;
					width: 100%;
					margin-bottom: 20px;
					height: 5px; }
					#home .home-cards .home-section .home-section-inner:hover .home-section-line {
						display: block; }

				#home .home-cards .home-section .home-section-inner .home-section-content {
					z-index: 2;
					width: 100%;
					padding: 10px;
					display: none;
					align-content: flex-start; }
					#home .home-cards .home-section .home-section-inner:hover .home-section-content {
						display: flex; }
						#home .home-cards .home-section .home-section-inner .home-section-content ul {
							width: 100%;
							padding: 0 0 0 20px;
							margin: 0; }
							#home .home-cards .home-section .home-section-inner .home-section-content ul li {
								color: #fff;
								font-size: 18px; }

@media (min-width: 850px) {
	#home .home-cards .home-section .home-section-inner h1 {
		font-size: 60px; }
	#home .home-cards .home-section .home-section-inner h2 {
		font-size: 25px; }
}

@media (min-width: 1150px) {
	#home .home-cards .home-section .home-section-inner h1 {
		font-size: 70px; }
	#home .home-cards .home-section .home-section-inner h2 {
		font-size: 30px; }
}