#help .container {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow:
    0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28); }

	#help .help-content {
		margin-bottom: 30px; }
		#help .help-content a {
			margin-right: 10px; }
		#help .help-content i {
			color: #fff;
			font-size: 22px; }

  #help .help-chord-chart-key-note {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%; }
  #help .help-chord-chart-key-open-note {
    border: 2px solid #333;
    height: 18px;
    width: 18px;
    border-radius: 100%; }
  #help .help-chord-chart-key-avoid {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #help .help-chord-chart-key-avoid i {
      font-size: 28px;
      margin-left: -11px;
      width: 30px;
      padding: 1px;
      height: 30px; }
  #help .help-chord-chart-key-fret {
    font-size: 15px;
    color: #616161;
    font-weight: 400;
    font-weight: 500; }

@media (min-width: 768px) {
  #help .container {
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px; }
}