#menu {
  position: fixed;
  height: 92vh;
  width: 100vw;
  top: 8vh;
  left: 0;
  right: 0;
  bottom: 0;
	z-index: 3; }
  #menu .menu-background {
    position: fixed;
    height: 92vh;
    width: 100vw;
    top: 8vh;
    left: 0;
    right: 0;
    bottom: 0;
	  z-index: 4;
    cursor: pointer;
    background-color: rgba(33,33,33,0.8); }
  #menu .menu-slider {
    position: fixed;
    height: 92vh;
    width: 350px;
    top: 8vh;
	  z-index: 5;
    background-color: #F5F5F5;
    box-shadow:
      0 0 4px rgba(0,0,0,.14),
      0 4px 8px rgba(0,0,0,.28); }

@media (min-width: 1080px) {
  #menu {
    height: 94vh;
    top: 6vh; }
    #menu .menu-background {
      height: 94vh;
      top: 6vh; }
    #menu .menu-slider {
      height: 94vh;
      top: 6vh; }
}