#menu {
	position: fixed;
	z-index: 2;
	background-color: #00796B;
	width: 100vw;
	height: 92vh; }
	#menu .menu-inner {
		padding: 40px; }
		#menu .menu-inner h1 {
			margin: 0 0 20px 0;
			width: 100%;
			position: relative;
  		text-align: center;  } 
			#menu .menu-inner h1 span {
				background: #00796B;
  			padding: 0 15px;
				color: #fff;
				font-size: 30px;
  			position: relative;
  			z-index: 2; }
#menu .menu-inner .menu-split {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}
#menu .menu-inner .menu-split .menu-split-item {
  width: calc(100% / 2 - 10px);
  min-width: calc(100% / 2 - 10px);
  padding: 20px;
}
#menu .menu-inner .menu-split .menu-split-item h2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin: 0;
}

#menu h1:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
	top: 50%;
  width: 100%;
}
#menu h1:before {
  left: 0;
}

@media (min-width: 800px) {
	#menu .menu-inner {
		padding: 80px; }
		#menu .menu-inner h1 span {
			font-size: 40px; }
}