#menu {
	position: fixed;
	z-index: 2;
	background-color: #424242;
	width: 100vw;
	height: 92vh; }
	#menu .menu-inner {
		padding: 40px; }
		#menu .menu-inner h1 {
			margin: 0 0 20px 0;
			width: 100%;
			position: relative;
  		text-align: center;  } 
			#menu .menu-inner h1 span {
				background: #424242;
  			padding: 0 15px;
				color: #fff;
				font-size: 30px;
  			position: relative;
  			z-index: 2; }
#menu .menu-inner .menu-split {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch; }
	#menu .menu-inner .menu-split .menu-split-item {
		width: calc(100% / 2 - 10px);
		min-width: calc(100% / 2 - 10px);
		padding: 20px; }
		#menu .menu-inner .menu-split .menu-split-item .menu-split-heading {
			display: flex;
			justify-content: center;
			align-items: center; }
			#menu .menu-inner .menu-split .menu-split-item .menu-split-heading h2 {
				position: relative;
				text-align: center;
				width: 100%;
				margin: 0; }
#menu .menu-inner .menu-split .menu-split-item .menu-split-heading h2 span {
	color: #fff;
	position: relative;
	padding: 0 10px;
	margin: 0;
	font-size: 32px;
	z-index: 2;
	background-color: #424242; }
	#menu .menu-inner .menu-split .menu-split-item .menu-split-heading h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%; }

#menu .menu-inner .menu-split-item .menu-links {
	padding: 10px; }
	#menu .menu-inner .menu-split-item .menu-links ul {
		margin: 0;
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		align-content: center; }
		#menu .menu-inner .menu-split-item .menu-links ul li {
			color: #fff;
			padding-left: 10px;
			list-style-type: disc; }
			#menu .menu-inner .menu-split-item .menu-links ul li a {
				font-size: 18px;
				color: #fff;
				margin-bottom: 10px; }

@media (min-width: 800px) {
	#menu .menu-inner {
		padding: 80px; }
		#menu .menu-inner h1 span {
			font-size: 40px; }
}