#menu {
  position: fixed;
  height: 92vh;
  width: 100vw;
  top: 8vh;
  left: 0;
  right: 0;
  bottom: 0;
	z-index: 3; }
  #menu .menu-background {
    position: fixed;
    height: 92vh;
    width: 100vw;
    top: 8vh;
    left: 0;
    right: 0;
    bottom: 0;
	  z-index: 4;
    cursor: pointer;
    background-color: rgba(33,33,33,0.8); }
  #menu .menu-slider {
    position: fixed;
    height: 92vh;
    width: 350px;
    top: 8vh;
	  z-index: 5;
    background-color: #FAFAFA;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); }
      #menu .menu-slider .menu-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        #menu .menu-slider .menu-buttons a {
          width: 100%;
          background-color: #FAFAFA;
          padding: 15px 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start; }
          #menu .menu-slider .menu-buttons a:hover {
            background-color: #EEEEEE;
            text-decoration: none; }
            #menu .menu-slider .menu-buttons a:hover p {
              font-weight: 600; }
            #menu .menu-slider .menu-buttons a:hover i {
              color: #F44336; }
          #menu .menu-slider .menu-buttons a p {
            margin: 0;
            font-weight: 600;
            font-size: 20px; }
          #menu .menu-slider .menu-buttons a i {
            padding-right: 10px;
            font-size: 23px; }
        #menu .menu-slider .menu-sub {
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          padding-bottom: 15px;
          border-bottom: 1px solid #e0e0e0; }
          #menu .menu-slider .menu-sub a {
            padding: 5px 50px; }
            #menu .menu-slider .menu-sub a p {
              font-weight: 400;
              font-size: 17px;  }

@media (min-height: 1080px) {
  #menu {
    height: 94vh;
    top: 6vh; }
    #menu .menu-background {
      height: 94vh;
      top: 6vh; }
    #menu .menu-slider {
      height: 94vh;
      top: 6vh; }
}
