#guitar-content {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #E0E0E0;
	background-color: #fff; }

#guitar-content #guitar-home h1 {
	margin: 0 0 5px 0;
	font-size: 25px; }
	#guitar-content #guitar-home p {
		margin: 0;
		margin-bottom: 10px;
		font-size: 14px; }
#guitar-content #guitar-home .col-md-6 {
	padding-bottom: 30px; }

#guitar-content #guitar-chords p {
	margin: 0 0 20px 0;
	font-size: 14px; }
#guitar-content #guitar-chords .guitar-chords-track {
	flex-wrap: wrap;
	justify-content: flex-start;
	display: flex; }
#guitar-content #guitar-chords .heading {
  margin-top: 0 0 10px 0; }

#guitar-content #guitar-about img {
	width: 100%;
	margin: 0;
	height: auto; }

#guitar-content #guitar-about p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 20px;
}

@media (min-width: 500px) {
	#guitar-content #guitar-chords .guitar-chords-track {
		justify-content: space-between; }
}

@media (min-width: 700px) {
	#guitar-content {
		margin-bottom: 60px;
		padding-top: 20px;
		padding-bottom: 20px; }
		#guitar-content #guitar-home h1 {
			margin: 0 0 5px 0;
			font-size: 30px; }
		#guitar-content #guitar-home p {
			margin-bottom: 20px;
			font-size: 16px; 	}
		#guitar-content #guitar-home .col-md-6 {
			padding-bottom: 0; }
		#guitar-content #guitar-about img {
			width: calc(100% - 80px);
			margin: 0 40px; }
}