#guitar-content {
	padding-top: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #E0E0E0;
	background-color: #fff; }

	#guitar-content #guitar-home h1 {
		margin: 0 0 5px 0;
		font-size: 25px; }
		#guitar-content #guitar-home p {
			margin: 0;
			margin-bottom: 10px;
			font-size: 14px; }

#guitar-content #guitar-home .col-md-6 {
	padding-bottom: 30px; }

  #guitar-content #guitar-chords p {
    margin: 0 0 20px 0;
    font-size: 14px; }
  #guitar-content #guitar-chords .guitar-chords-track {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex; }

@media (min-width: 500px) {
	#guitar-content #guitar-chords .guitar-chords-track {
		justify-content: space-between;
	}
}

@media (min-width: 700px) {
	#guitar-content {
		padding-top: 20px; }
		#guitar-content #guitar-home h1 {
			margin: 20px 0 5px 0;
			font-size: 30px; }
		#guitar-content #guitar-home p {
			margin-bottom: 20px;
			font-size: 16px; 	}
		#guitar-content #guitar-home .col-md-6 {
			padding-bottom: 0; }
}