#guitar {
	width: 100%;
	height: 100%; }
	#guitar .guitar-header {
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
		height: 156px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover; }
		#guitar .guitar-header .container {
			height: 100%;
			padding: 0; }
		#guitar .guitar-header .container .container-inner {
			height: 100%;
			justify-content: space-around;
			flex-direction: row;
			align-items: center;
			padding: 0 20px;
			display: flex; }
		#guitar .guitar-header .guitar-header-left {
			display: flex;
			align-items: center;
			flex-direction: row; }
			#guitar .guitar-header .guitar-header-left h1 {
				font-size: 57px;
				text-shadow: #333 2px 2px 5px; 
				margin: 0;
				color: #fff;
				text-transform: uppercase; }
		#guitar .guitar-header .guitar-header-right {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column; }
			#guitar .guitar-header .guitar-header-right p {
				margin: 0;
				color: #fff;
				line-height: 1;
				font-size: 37px;
				font-weight: 700; }
			#guitar .guitar-header .guitar-header-right h3 {
				margin: 0;
				color: #fff;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 700; }

#guitar .guitar-body {
	margin: 0; }
	#guitar .guitar-body .container {
		padding: 20px; }

#guitar .guitar-body .guitar-nav {
	padding-top: 20px;
	border-bottom: 1px solid #E0E0E0; }
	#guitar .guitar-body .guitar-nav .container {
		padding: 0; }
	#guitar .guitar-body .guitar-nav .guitar-nav-inner {
		display: flex;
		align-items: center;
		justify-content: center; }

		#guitar .guitar-body .guitar-nav .guitar-nav-inner a {
			z-index: 2;
			position: relative;
			bottom: -1px;
			text-decoration: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #333;
			border-left: 1px solid #F5F5F5;
			border-right: 1px solid #F5F5F5;
			border-bottom: 1px solid #E0E0E0; }

			#guitar .guitar-body .guitar-nav .guitar-nav-inner a i {
				padding: 10px 10px;
				font-size: 21px; }

			#guitar .guitar-body .guitar-nav .guitar-nav-inner a p {
				padding: 10px 10px;
				font-size: 15px;
				margin: 0;
				font-weight: 500; }
				#guitar .guitar-body .guitar-nav .guitar-nav-inner a:hover p {
					color: #F44336; }

			#guitar .guitar-body .guitar-nav .guitar-nav-inner a .guitar-nav-strip {
				height: 5px;
				width: calc(100% + 2px);
				position: absolute;
				top: -5px;
				background-color: #F5F5F5; }
				#guitar .guitar-body .guitar-nav .guitar-nav-inner .guitar-nav-item-active .guitar-nav-strip {
					background-color: #F44336; }

		#guitar .guitar-body .guitar-nav .guitar-nav-inner .guitar-nav-item-active {
			background-color: #fff;
			border-bottom-color: #fff;
			border-left-color: #E0E0E0;
			border-right-color: #E0E0E0; }

@media (min-width: 450px) {
	#guitar .guitar-body .guitar-nav .guitar-nav-inner a p {
		font-size: 16px; 	}
	#guitar .guitar-body .guitar-nav .guitar-nav-inner a i {
		font-size: 23px; }
}

@media (min-width: 600px) {
	#guitar .guitar-body .guitar-nav .guitar-nav-inner a p {
		padding: 10px 20px; 	}
	#guitar .guitar-body .guitar-nav .guitar-nav-inner a i {
		padding: 10px 20px; }
}

@media (min-width: 767px) {
	#guitar .guitar-header .container .container-inner {
		justify-content: space-between;	}
}

@media (min-width: 700px) {
	#guitar .guitar-header .guitar-header-left h1 {
		font-size: 65px;	}
	#guitar .guitar-header .guitar-header-right p {
		font-size: 45px; }
	#guitar .guitar-header .guitar-header-right h3 {
		font-size: 13px; }
	
	#guitar .guitar-body .guitar-nav {
		padding-top: 40px; }
	#guitar .guitar-body .guitar-nav .guitar-nav-inner a p {
		padding: 15px 20px;
		font-size: 20px; 	}
	#guitar .guitar-body .guitar-nav .guitar-nav-inner a i {
		font-size: 28px;
		padding: 15px 20px; }
}

@media (min-width: 900px) {
	#guitar .guitar-body .guitar-nav .guitar-nav-inner a p {
		padding: 15px 40px;	}
}

@media (min-width: 992px) {
	#guitar .guitar-header .guitar-header-left h1 {
		font-size: 75px;	}
}