#search .search-top {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center; }

		#search .search-top .search-top-icon {
			display: flex;
			margin-left: 10px;
			margin-right: 10px;
			align-items: center;
			justify-content: center; }
		#search .search-top .search-top-icon i {
			font-size: 57px; }

	#search .search-top .search-top-bar {
		position: relative;
    margin-right: 10px;
		width: 100%; }
		#search .search-top .search-top-bar input {
			background-color: #f5f5f5;
			transition: .3s all;
			outline: none;
			width: 100%;
			border: none;
			border-bottom: 3px solid #333;
			padding: 10px 15px;
			font-size: 24px; }
			#search .search-top .search-top-bar input:focus {
				background-color: #E0E0E0; }
		#search .search-top .search-top-bar i {
			font-size: 26px; }

  #search .search-results {
    padding: 15px 15px 0 15px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow:
      0 0 4px rgba(0,0,0,.14),
      0 4px 8px rgba(0,0,0,.28); }

    #search .search-results .search-results-content {
      padding-bottom: 10px; }

    #search .search-results .search-results-chords {
      flex-wrap: wrap;
      justify-content: space-between;
      display: flex; }

    #search .search-results a:hover {
      text-decoration: none; }

    #search .search-results .search-results-pages {
      display: flex;
      flex-direction: column; }
			#search .search-results a {
				margin-bottom: 10px; }
      #search .search-results .search-results-pages .search-results-page {
        padding: 10px;
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0; }
        #search .search-results .search-results-pages .search-results-page:hover {
          background-color: #EEEEEE; }
        #search .search-results .search-results-pages .search-results-page i {
          font-size: 23px;
          margin-right: 7px;
          color: #333; }
					#search .search-results .search-results-pages .search-results-page:hover i {
						color: #F44336; }
        #search .search-results .search-results-pages .search-results-page p {
          font-size: 17px;
          margin: 0;
          font-weight: 500; }
          #search .search-results .search-results-pages .search-results-page p b {
            font-weight: 400;
            color: #9E9E9E; }

      #search .search-results .search-results-riffs {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 10px; }

@media (min-width: 500px) {
  #search .search-top .search-top-icon {
		margin-left: 0; }
  #search .search-top .search-top-bar {
    margin-right: 0; }
	.search-results .search-results-chords {
		justify-content: space-between; }
}

@media (min-width: 768px) {
	#search .search-top {
		padding-bottom: 40px; }
	#search .search-results {
		padding: 30px 30px 0 30px; }
    #search .search-results .search-results-content {
      margin-bottom: 40px; }
}