#account {
	padding: 80px;
  height: 100%;
  width: 100%; }
  #account .account-screen {
    margin: 0 auto;
    width: 40vw;
		max-height: calc(92vh  - 160px);
    box-shadow:
      0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2); }

    #account .account-screen h1 {
			margin: 0 0 5px 0;
			padding: 40px 40px 0 40px;
      font-size: 28px;
      font-weight: 400; }

    #account .account-screen p {
			padding: 0 40px 40px 40px;
			margin: 0;
      border-bottom: 1px solid #BDBDBD;
      font-size: 15px; }

    #account .account-screen .account-list {
      display: flex;
			height: 100%;
      padding: 20px 0;
      flex-direction: column; }
      #account .account-screen .account-list .account-list-item {
        transition: .2s all;
        padding: 5px 30px;
				width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        width: 100%; }
        #account .account-screen .account-list .account-list-item:hover {
          background-color: #EEEEEE; }

        #account .account-screen .account-list .account-list-item i {
					display: block;
					font-size: 48px;
          margin: 10px;
          height: 48px;
          width: 48px;
          border-radius: 100%; }

        #account .account-screen .account-list .account-list-item .account-list-item-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px; }
          #account .account-screen .account-list .account-list-item .account-list-item-content h2 {
            margin: 0;
            font-size: 20px; }
					#account .account-screen .account-list .account-list-item .account-list-item-content h3 {
            margin: 0;
						font-weight: 400;
            font-size: 18px; }
          #account .account-screen .account-list .account-list-item .account-list-item-content h4 {
            margin: 0;
						font-weight: 400;
            font-size: 14px; }