.chart {
	width: 200px;
	cursor: pointer;
	height: 300px;
	position: relative; }
	.chart:hover {
		background-color: #eee; }

	.chart .chart-icon {
		z-index: 3;
		position: absolute;
		margin: 5px;
    border-radius: 100%;
		padding: 5px;
		display: none;
		align-items: center;
		justify-content: center; }
		.chart:hover .chart-icon {
			display: flex; }
		.chart .chart-icon:hover {
			background-color: #BDBDBD; }
		.chart .chart-icon i {
			-webkit-user-select: none;
			color: #424242;
			font-size: 24px; }

	.chart .chart-heading {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 60px;
		padding: 30px 0 0 0; }

		.chart .chart-heading h2 {
			margin: 0;
			font-size: 23px;
			font-weight: 500; }

		.chart .chart-heading span {
			font-size: 15px;
      color: #616161;
			-webkit-user-select: none;
      font-weight: 400;
			font-weight: 500; }

	.chart .chart-open-strings {
		position: absolute;
		top: 60px;
		width: 200px;
		height: 30px; }
		.chart .chart-open-strings .chart-open-string {
			position: absolute;
			height: 30px;
			width: 30px;
      transition: .2s all;
			display: flex;
			align-items: center;
			justify-content: center; }
			.chart .chart-open-strings .chart-open-string i {
				-webkit-user-select: none;
				font-size: 28px;
				width: 30px;
				padding: 1px;
				height: 30px; }
			.chart .chart-open-strings .chart-open-string .chart-open-string-play {
        display: flex;
        align-items: center;
        justify-content: center;
				border: 2px solid #333;
				height: 18px;
				width: 18px;
				margin: 6px;
				border-radius: 100%; }
        .chart .chart-open-strings .chart-open-string .chart-open-string-play h3 {
					-webkit-user-select: none;
          display: none;
          font-size: 10px;
          color: #333;
          margin: 0; }
          .chart:hover .chart-open-strings .chart-open-string .chart-open-string-play h3 {
            display: block; }

	.chart .chart-fretboard {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 140px;
		height: 180px;
		margin: 0 30px 30px 30px; }

		.chart .chart-fretboard .chart-note {
			position: absolute;
			transition: .2s all;
			width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
			height: 18px;
      z-index: 2;
			background-color: #333;
			border-radius: 100%; }
      .chart .chart-fretboard .chart-note h3 {
				-webkit-user-select: none;
        display: none;
        margin: 0;
        font-size: 10px;
        color: #fff; }
        .chart:hover .chart-fretboard .chart-note h3 {
          display: block; }

		.chart .chart-fretboard .chart-fret {
			position: absolute;
			width: 140px;
			height: 2px;
			background-color: #333; }

		.chart .chart-fretboard .chart-string {
			position: absolute;
			width: 2px;
			height: 180px;
			background-color: #333; }

		.chart .chart-fretboard .chart-fix {
			position: absolute;
			width: 2px;
			background-color: #333;
			height: 2px;
			bottom: -2px;
			right: -2px; }

@media (min-width: 500px) {
	.chart .chart-fretboard .chart-note h3 {
		margin: 0;	}
}