.heading {
  border-bottom: 3px solid #BDBDBD;
  padding-bottom: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0; }
  .heading:hover {
    border-color: #F44336; }
  .heading h1 {
		-webkit-user-select: none;
    margin: 0;
    font-size: 21px; }
    .heading:hover h1 {
      color: #F44336 }
  .heading i {
		margin: 0 -8px 0 0;
    font-size: 33px; }
    .heading:hover i {
      color: #F44336 }

@media (min-width: 500px) {
  .heading h1 {
    font-size: 23px;	}
}

@media (min-width: 700px) {
	.heading h1 {
    font-size: 25px;	}
}